{% include header.html %}

<section class="landing">
    <div class="content">
        <article class="top">
            {{ content }}
            <a href="">Join us</a>
        </article>
        <img class="veeg" src="/img/veeg.svg" alt="BASECAMP">
        <article class="bottom">
            <p><span class="stay">Beach</span> <span>-</span> <span class="stay">Festival</span> <span>-</span> <span class="stay">Camp</span> <span>-</span> <span class="stay">Conference</span></p>
            <a href="">Join us</a>
        </article>
    </div>
    <figure><img src="/img/coral.jpg" alt="BASECAMP"></figure>
    <figure class="half"><img src="/img/coral.jpg" alt="BASECAMP"></figure>
    <figure><img src="/img/beach.jpg" alt="BASECAMP"></figure>
    <figure><img src="/img/cloth.jpg" alt="BASECAMP"></figure>
    <figure><img src="/img/grain.jpg" alt="BASECAMP"></figure>
</section>


{% include footer.html %}